# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/es
/node_modules
/.parcel-cache
/storybook-static
docs/node_modules
docs/.cache
docs/public/build
.vercel
